{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
      <nav>
        <div>
          <div>
            <div>
              <a href="{% url 'main_home' %}">Domov</a>
              <a href="{% url 'main_about' %}">O nas</a>
              <a href="{% url 'post_list' %}">Članki</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main">
      <div>
        <div>
          {% block content %}{% endblock %}
        </div>
        <div>
          <div>
            <h3>Oddelki</h3>
            <p>
              <ul>
                <li><a href="#">Oddelek 0</a></li>
                <li><a href="#">Oddelek 1</a></li>
                <li><a href="#">Oddelek 2</a></li>
                <li><a href="#">Oddelek 3</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>

    </main>
    <footer>
      <p><a href="{% url 'main_home' %}">© slopython 2022</a></p>
    </footer>

</body>
</html>