{% extends "main/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Programski jezik Python 3 za začetnike</h1>
    <p>
        Programski jezik Python 3 je zmogljivo orodje za
        izdelavo programov za najrazličnejše namene,
        ki je dostopno tudi začetnikom. Uporablja se
        lahko za reševanje različnih vrst težav.
    </p>
    <p>
        To spletno mesto je zasnovano tako,
        da začetnikom pomaga pri učenju programiranja
        v pythonu 3. Tukaj lahko izveste tudi več o
        značilnostih delovanja tega jezika.
    </p>
    <p>
        Jezik Python ima nekaj pomembnih lastnosti,
        zaradi katerih se pogosto uporablja.
        Zato se morate pred učenjem pythona pogovoriti o
        njegovih prednostih in slabostih.
    </p>
    <h2>Python 3: prednosti in slabosti jezika</h2>
    <ol>
        <li>
            <p>
                Python je interpretiran programski jezik.
                Po eni strani to omogoča bistveno poenostavitev
                odpravljanja napak v programih, po drugi strani
                pa povzroča relativno nizko hitrost izvajanja.
            </p>
        </li>
        <li>
            <p>
                Dinamično tipkanje. V pythonu vam
                ni treba vnaprej deklarirati vrste spremenljivke,
                kar je med razvojem zelo priročno.
            </p>
        </li>
        <li>
            <p>
                Dobra podpora modularnosti.
                Z lahkoto lahko napišete svoj modul
                in ga uporabite v drugih programih.
            </p>
        </li>
        <li>
            <p>
                Izvorna podpora za Unicode v nizih.
                V Pythonu ni nujno, da vse pišete v angleščini;
                vaš materni jezik se lahko uporablja v programih.
            </p>
        </li>
        <li>
            <p>
                Podpora za objektno usmerjeno programiranje.
                Hkrati je njegova implementacija v
                python ena najbolj razumljivih.
            </p>
        </li>
        <li>
            <p>
                Samodejno zbiranje smeti,
                brez puščanja pomnilnika.
            </p>
        </li>
        <li>
            <p>
                Integracija s C/C++, če zmogljivosti
                pythona ne zadostujejo.
            </p>
        </li>
        <li>
            <p>
                Jasna in jedrnata sintaksa, ki spodbuja
                jasen prikaz kode. Priročen sistem funkcij
                omogoča, da s kompetentnim pristopom ustvarite
                kodo, ki jo bo po potrebi lahko razumela druga
                oseba. Prav tako se lahko naučite brati programe
                in module, ki so jih napisali drugi ljudje.
            </p>
        </li>
        <li>
            <p>
                Ogromno število modulov, vključenih
                v standardno distribucijo Python 3 in tretjih oseb.
                V nekaterih primerih je za pisanje programa dovolj
                samo najti prave module in jih pravilno kombinirati.
                Na ta način lahko razmišljate o programiranju na
                višji ravni, delu z že pripravljenimi elementi,
                ki izvajajo različna dejanja.
            </p>
        </li>
        <li>
            <p>
                Več platform. Program, napisan v Pythonu, bo deloval
                popolnoma enako, ne glede na to, v katerem operacijskem
                sistemu se izvaja. Razlike se pojavljajo le v redkih
                primerih in jih je zaradi razpoložljivosti podrobne
                dokumentacije enostavno predvideti vnaprej.
            </p>
        </li>
    </ol>
{% endblock content %}